@model MusHearingDetect.Models.Audiofile
@{
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

@section questname {
    @Model.Question.Title
}
@section questdescription {
    @Model.Question.Description
}

@section Answers{
<div>
    @using (Html.BeginForm("BeginTest", "Test", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Question.FirstAnswer.IsRight)
        <input type="submit" value="@Model.Question.FirstAnswer.AnswerTxt" class="answbutton"/>
    }
    @using (Html.BeginForm("BeginTest", "Test", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Question.SecondAnswer.IsRight)
        <input type="submit" value="@Model.Question.SecondAnswer.AnswerTxt" class="answbutton" />
    }
</div>
}

